<!DOCTYPE html>
<html lang="en" ng-app='aew-app'>
<head>
  <meta charset="UTF-8">
  <title>ANGULAR EXPRESS WEBPACK</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <base href="/">
</head>
<body ng-cloak>
  <div ui-view></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src='http://localhost:4000/javascripts/bundle.js'></script>
  <script src="/javascripts/routes.js"></script>
<!-- 
    <script src="/javascripts/app.js"></script>
 -->
</body>
</html>